.aboutus-case {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  padding-bottom: 120px;
}
.aboutus-case .case-h {
  width: 100%;
  height: 210px;
  background: url(../../images/aboutus/case.png);
  margin-top: 10px;
}
.aboutus-case .case-list {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 44px 0 80px;
}
.aboutus-case .case-list .item {
  width: 950px;
  height: 195px;
  margin: 18px auto 0;
}
.aboutus-case .case-list .item li {
  font-size: 16px;
  line-height: 30px;
}
.aboutus-case .case-list .item li h3 {
  font-size: 24px;
  margin: 9px 0;
}
.aboutus-case .case-list .item li h3 a {
  color: #f18101;
}
.aboutus-case .case-list .item li div {
  text-align: right;
  margin-top: 35px;
}
.aboutus-case .case-list .item li div a {
  color: #ee8102;
}
.aboutus-case .case-list .item .list-img {
  width: 288px;
  height: 170px;
}
.aboutus-case .case-list .item .list-img img {
  width: 100%;
  height: 100%;
}
.aboutus-case .case-list .item .list-text {
  width: 622px;
}
.aboutus-case .line {
  width: 950px;
  height: 20px;
  background: url("../../images/aboutus/line.png");
  margin: 0 auto;
}
.aboutus-case .sta-footer {
  width: 100%;
  height: 60px;
  background: #f7ceae;
}
