.course-header {
  width: 100%;
  height: 40px;
  background: #ef8201;
}
.course-header .h-content {
  width: 970px;
  height: 100%;
  margin: 0 auto;
}
.course-header .h-content li {
  float: left;
  height: 50px;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
.course-header .h-content li a {
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.course-header .h-content .on3 {
  background: #fda855;
  position: relative;
  z-index: 1000;
}
.course-header .h-content .on3 span {
  width: 24px;
  height: 12px;
  background: url(../../images/aboutus/xl.png);
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -12px;
}
.course-header .n-content {
  width: 770px;
}
.course-header .n-content li {
  margin-left: 30px;
}
.course-header .n-content li:first-child {
  margin-left: 0;
}
.c-banner {
  width: 100%;
  height: 480px;
  background: url(../../images/course/banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}
.emerge-tit {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
.emerge-tit span {
  font-family: Arial;
}
.emerge {
  width: 100%;
  height: 923px;
  padding-top: 77px;
  background: #f5f5fc;
}
.emerge .emerge-list {
  width: 100%;
  height: 600px;
  margin: 30px auto 12px;
}
.emerge .emerge-list li {
  float: left;
  height: 200px;
}
.emerge .emerge-list li .e-right {
  width: 100%;
  height: 100%;
  background: #f05924;
  position: relative;
  cursor: pointer;
}
.emerge .emerge-list li .e-right .e-text {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  width: 170px;
  position: absolute;
  right: 18px;
  top: 55px;
  text-align: center;
}
.emerge .emerge-list li .e-right .e-text span {
  font-size: 48px;
}
.emerge .emerge-list li .e-right .e-text p {
  font-size: 21px;
}
.emerge .emerge-list li .e-right .e-left {
  position: absolute;
  top: 0;
}
.emerge .emerge-list .e1 {
  width: 570px;
}
.emerge .emerge-list .e1 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-1.png);
  left: 0px;
}
.emerge .emerge-list .e1 .e-right:hover .e-left {
  background: url(../../images/course/das-1-1.png);
}
.emerge .emerge-list .e2 {
  width: 630px;
}
.emerge .emerge-list .e2 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-2.png);
  left: 0px;
}
.emerge .emerge-list .e2 .e-right:hover .e-left {
  background: url(../../images/course/das-2-2.png);
}
.emerge .emerge-list .e3 {
  width: 630px;
}
.emerge .emerge-list .e3 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-3.png);
  right: 0;
}
.emerge .emerge-list .e3 .e-right:hover .e-left {
  background: url(../../images/course/das-3-3.png);
}
.emerge .emerge-list .e3 .e-text {
  left: 18px;
  margin-top: 25px;
}
.emerge .emerge-list .e4 {
  width: 570px;
}
.emerge .emerge-list .e4 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-4.png);
  right: 0;
}
.emerge .emerge-list .e4 .e-right:hover .e-left {
  background: url(../../images/course/das-4-4.png);
}
.emerge .emerge-list .e4 .e-text {
  left: 18px;
}
.emerge .emerge-list .e5 {
  width: 570px;
}
.emerge .emerge-list .e5 .e-left {
  width: 370px;
  height: 100%;
  background: url(../../images/course/das-5.png);
  left: 0px;
}
.emerge .emerge-list .e5 .e-right:hover .e-left {
  background: url(../../images/course/das-5-5.png);
}
.emerge .emerge-list .e5 .e-text {
  margin-top: 25px;
}
.emerge .emerge-list .e6 {
  width: 630px;
}
.emerge .emerge-list .e6 .e-left {
  width: 430px;
  height: 100%;
  background: url(../../images/course/das-6.png);
  left: 0px;
}
.emerge .emerge-list .e6 .e-right:hover .e-left {
  background: url(../../images/course/das-6-6.png);
}
.emerge .emerge-list .e6 .e-text {
  margin-top: 25px;
}
.emerge .emerge-text {
  font-size: 24px;
  line-height: 44px;
  color: #ffffff;
  padding: 13px 50px;
  background: #3196de;
}
.theory {
  width: 100%;
  height: 3423px;
  padding-top: 75px;
}
.theory .theory-c {
  width: 1083px;
  height: 719px;
  background: url(../../images/course/ts-1.png);
  margin: 120px auto 0;
  position: relative;
}
.theory .theory-c div,
.theory .theory-c ul {
  position: absolute;
}
.theory .theory-c .t1 {
  width: 318px;
  font-size: 36px;
  line-height: 60px;
  color: #000000;
  top: -29px;
  left: 45px;
}
.theory .theory-c .t1 span {
  font-family: Arial;
}
.theory .theory-c .t1 b {
  font-size: 48px;
}
.theory .theory-c .t2 {
  top: 107px;
  left: 355px;
}
.theory .theory-c .t2 li {
  float: left;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  margin-right: 6px;
  color: #ffffff;
}
.theory .theory-c .t2 li span {
  font-family: Arial;
}
.theory .theory-c .t3 {
  top: 60px;
  right: 48px;
  text-align: center;
}
.theory .theory-c .t3 h3 {
  font-size: 30px;
  line-height: 30px;
  color: #00b7e8;
}
.theory .theory-c .t3 h4 {
  font-size: 24px;
  line-height: 36px;
  color: #00b7e8;
}
.theory .theory-c .t3 p {
  font-size: 24px;
  line-height: 40px;
  color: #000000;
}
.theory .theory-c .t4 {
  width: 355px;
  top: 295px;
  left: 73px;
}
.theory .theory-c .t4 li {
  font-size: 18px;
  color: #000000;
}
.theory .theory-c .t4 li:first-child {
  width: 315px;
}
.theory .theory-c .t4 li p {
  font-size: 30px;
  line-height: 30px;
  color: #ef8200;
  margin: 30px 0 8px;
}
.theory .theory-c .t4 li p span {
  font-family: Arial;
  color: #000000;
}
.theory .theory-c .t5 {
  top: 350px;
  left: 600px;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
.theory .theory-c .t6 {
  top: 510px;
  right: 92px;
}
.theory .theory-c .t6 p {
  line-height: 70px;
}
.theory .motive {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
  margin-top: 95px;
}
.theory .motive .m-left {
  width: 300px;
  height: 100%;
}
.theory .motive .m-left img {
  width: 100%;
  height: 100%;
}
.theory .motive .m-right {
  position: relative;
  height: 100%;
}
.theory .motive .m-right h3 {
  font-size: 24px;
  line-height: 24px;
  padding-left: 10px;
  margin-top: 17px;
}
.theory .motive .m-right p {
  font-size: 18px;
  padding-left: 10px;
}
.theory .motive .m-right p span {
  font-size: 30px;
}
.theory .motive .m-right .m-img {
  width: 900px;
  height: 311px;
  position: absolute;
  bottom: 0;
}
.theory .motive .m-right .m-img img {
  width: 100%;
  height: 100%;
}
.theory .intellect {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
  margin-top: 113px;
}
.theory .intellect .i-left {
  width: 300px;
  height: 100%;
}
.theory .intellect .i-left img {
  width: 100%;
  height: 100%;
}
.theory .intellect .i-right {
  height: 100%;
  width: 900px;
  position: relative;
}
.theory .intellect .i-right p {
  font-size: 24px;
  padding-left: 68px;
  margin-top: 30px;
}
.theory .intellect .i-right p span {
  font-size: 48px;
}
.theory .intellect .i-right .i-list {
  width: 100%;
  height: 280px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.theory .intellect .i-right .i-list li {
  float: left;
  width: 225px;
  height: 140px;
  text-align: center;
}
.theory .intellect .i-right .i-list li .i-img {
  width: 70px;
  height: 70px;
  position: relative;
  margin: 8px auto 6px;
}
.theory .intellect .i-right .i-list li .i-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.theory .intellect .i-right .i-list li .chinese {
  font-size: 24px;
}
.theory .intellect .i-right .i-list li .english {
  font-size: 18px;
}
.theory .intellect .i-right .i-list .red {
  background: #ed655f;
}
.theory .intellect .i-right .i-list .purple {
  background: #aa99ff;
}
.theory .intellect .i-right .i-list .blue {
  background: #81d4ef;
}
.theory .skill {
  width: 100%;
  height: 380px;
  background: #f5f5fc;
}
.theory .skill .s-list {
  width: 711px;
  height: 175px;
  overflow: hidden;
  margin: 70px 0 0 100px;
}
.theory .skill .s-list ul {
  width: 752px;
  height: 100%;
}
.theory .skill .s-list ul li {
  width: 147px;
  height: 62px;
  margin: 0 41px 50px 0;
  float: left;
}
.theory .skill .s-list ul li div {
  float: left;
}
.theory .skill .s-list ul li .s-text {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  width: 108px;
}
.theory .skill .s-list ul li .s-text span {
  font-size: 18px;
}
.theory .skill .s-list ul li .s-img {
  width: 38px;
  height: 60px;
  background: url(../../images/course/ts-13.png);
}
.theory .way {
  width: 100%;
  height: 100%;
  background: #f5f5fc;
  margin-top: 109px;
}
.theory .way .w-left p {
  width: 840px;
  font-size: 24px;
  margin: 22px 0 0 25px;
}
.theory .way .w-left p span {
  font-size: 36px;
}
.theory .way .w-left .w-list {
  width: 817px;
  height: 100%;
  overflow: hidden;
  margin: 10px 0 0 62px;
}
.theory .way .w-left .w-list ul {
  width: 934px;
}
.theory .way .w-left .w-list ul li {
  width: 350px;
  height: 250px;
  margin-right: 117px;
  float: left;
  text-align: center;
}
.theory .way .w-left .w-list ul li .w-img {
  width: 130px;
  height: 154px;
  position: relative;
  margin: 5px auto 10px;
}
.theory .way .w-left .w-list ul li .w-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.theory .way .w-left .w-list ul li .w-tit {
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}
.theory .way .w-left .w-list ul li .w-txt {
  width: 100%;
  font-size: 18px;
}
.theory .way .w-right {
  width: 300px;
  height: 850px;
}
.theory .way .w-right img {
  width: 100%;
  height: 100%;
}
.peculiarity {
  width: 100%;
  height: 875px;
  background: #f5f5fc;
  padding-top: 75px;
}
.peculiarity .pec-c {
  width: 660px;
  height: 660px;
  background: url(../../images/course/ts-15.png);
  margin: 60px auto 0;
  position: relative;
}
.peculiarity .pec-c .public {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background: #f5f5fc;
  height: 106px;
  padding-top: 8px;
  position: absolute;
}
.peculiarity .pec-c .public p {
  font-size: 36px;
  line-height: 42px;
}
.peculiarity .pec-c .system {
  top: 112px;
  left: -60px;
}
.peculiarity .pec-c .entire {
  top: 29px;
  right: -38px;
  padding-left: 100px;
}
.peculiarity .pec-c .effective {
  height: 135px;
  bottom: 47px;
  right: -80px;
}
.peculiarity .pec-c ul {
  width: 505px;
  position: absolute;
  top: 270px;
  left: 100px;
}
.peculiarity .pec-c ul li {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  float: left;
  margin: 0 50px;
}
.peculiarity .pec-c ul li span {
  font-family: Arial;
}
.fruit {
  width: 100%;
  height: 1056px;
  padding-top: 74px;
  background: url(../../images/course/ts-17.png);
  position: relative;
}
.fruit .emerge-tit {
  color: #fff;
}
.fruit .fruit-txt {
  width: 376px;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin: 110px 0 0 118px;
}
.fruit .fruit-txt p {
  font-size: 30px;
}
.fruit .histogram {
  width: 966px;
  height: 732px;
  background: url(../../images/course/ts-16.png);
  margin: 0 auto;
  bottom: 70px;
  left: 50%;
  margin-left: -483px;
  position: absolute;
}
.explain {
  width: 100%;
  height: 160px;
  padding-top: 35px;
  background: #5544f2;
}
.explain .explain-list {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.explain .explain-list ul {
  width: 1260px;
}
.explain .explain-list li {
  width: 360px;
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  float: left;
  margin-right: 60px;
}
.explain .explain-list li p {
  font-size: 30px;
  margin-bottom: 6px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: .1rem;
  }
  .course-header {
    display: none;
  }
  .c-banner {
    width: 100%;
    height: 3.5rem;
    background: url(../../img/course/banner.png);
    background-size: 100% 100%;
  }
  .emerge-tit {
    font-size: .36rem;
    line-height: .36rem;
    text-align: center;
  }
  .emerge-tit span {
    font-family: Arial;
  }
  .emerge {
    width: 100%;
    height: 5.62rem;
    padding-top: .38rem;
    background: #f5f5fc;
  }
  .emerge .emerge-list {
    width: 7.2rem;
    height: 3.6rem;
    margin: .2rem auto .12rem;
  }
  .emerge .emerge-list li {
    float: left;
    height: 1.2rem;
  }
  .emerge .emerge-list li .e-right {
    width: 100%;
    height: 100%;
    background: #f05924;
    position: relative;
    cursor: pointer;
  }
  .emerge .emerge-list li .e-right .e-text {
    font-size: .16rem;
    line-height: .30rem;
    color: #ffffff;
    width: 1.06rem;
    position: absolute;
    right: .08rem;
    top: .3rem;
    text-align: center;
  }
  .emerge .emerge-list li .e-right .e-text span {
    font-size: .30rem;
  }
  .emerge .emerge-list li .e-right .e-text p {
    font-size: .13rem;
  }
  .emerge .emerge-list li .e-right .e-left {
    position: absolute;
    top: 0;
  }
  .emerge .emerge-list .e1 {
    width: 3.42rem;
  }
  .emerge .emerge-list .e1 .e-left {
    width: 2.22rem;
    height: 100%;
    background: url(../../images/course/das-1.png);
    background-size: 100% 100%;
    left: 0px;
  }
  .emerge .emerge-list .e1 .e-right:hover .e-left {
    background: url(../../images/course/das-1-1.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e2 {
    width: 3.77rem;
  }
  .emerge .emerge-list .e2 .e-left {
    width: 2.58rem;
    height: 100%;
    background: url(../../images/course/das-2.png);
    background-size: 100% 100%;
    left: 0px;
  }
  .emerge .emerge-list .e2 .e-right:hover .e-left {
    background: url(../../images/course/das-2-2.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e3 {
    width: 3.77rem;
  }
  .emerge .emerge-list .e3 .e-left {
    width: 2.58rem;
    height: 100%;
    background: url(../../images/course/das-3.png);
    background-size: 100% 100%;
    right: 0;
  }
  .emerge .emerge-list .e3 .e-right:hover .e-left {
    background: url(../../images/course/das-3-3.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e3 .e-text {
    left: .06rem;
    margin-top: .15rem;
  }
  .emerge .emerge-list .e4 {
    width: 3.42rem;
  }
  .emerge .emerge-list .e4 .e-left {
    width: 2.22rem;
    height: 100%;
    background: url(../../images/course/das-4.png);
    background-size: 100% 100%;
    right: 0;
  }
  .emerge .emerge-list .e4 .e-right:hover .e-left {
    background: url(../../images/course/das-4-4.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e4 .e-text {
    left: .06rem;
  }
  .emerge .emerge-list .e5 {
    width: 3.42rem;
  }
  .emerge .emerge-list .e5 .e-left {
    width: 2.22rem;
    height: 100%;
    background: url(../../images/course/das-5.png);
    background-size: 100% 100%;
    left: 0px;
  }
  .emerge .emerge-list .e5 .e-right:hover .e-left {
    background: url(../../images/course/das-5-5.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e5 .e-text {
    margin-top: .15rem;
  }
  .emerge .emerge-list .e6 {
    width: 3.77rem;
  }
  .emerge .emerge-list .e6 .e-left {
    width: 2.58rem;
    height: 100%;
    background: url(../../images/course/das-6.png);
    background-size: 100% 100%;
    left: 0px;
  }
  .emerge .emerge-list .e6 .e-right:hover .e-left {
    background: url(../../images/course/das-6-6.png);
    background-size: 100% 100%;
  }
  .emerge .emerge-list .e6 .e-text {
    margin-top: .15rem;
  }
  .emerge .emerge-text {
    font-size: .16rem;
    line-height: .28rem;
    padding: .04rem .25rem;
  }
  .theory {
    width: 100%;
    height: 20.2rem;
    padding-top: .59rem;
  }
  .theory .theory-c {
    width: 6.59rem;
    height: 4.38rem;
    background: url(../../img/course/c-bg.png);
    background-size: 100% 100%;
    margin: .72rem auto 0;
  }
  .theory .theory-c .t1 {
    width: 1.95rem;
    font-size: .22rem;
    line-height: .36rem;
    top: -0.19rem;
    left: .27rem;
  }
  .theory .theory-c .t1 b {
    font-size: .30rem;
  }
  .theory .theory-c .t2 {
    top: .66rem;
    left: 2.35rem;
  }
  .theory .theory-c .t2 li {
    font-size: .21rem;
    line-height: .25rem;
    margin-right: 0.06rem;
  }
  .theory .theory-c .t3 {
    top: .30rem;
    right: .18rem;
  }
  .theory .theory-c .t3 h3 {
    font-size: .24rem;
    line-height: .24rem;
  }
  .theory .theory-c .t3 h4 {
    font-size: .16rem;
    line-height: .24rem;
  }
  .theory .theory-c .t3 p {
    font-size: .16rem;
    line-height: .24rem;
  }
  .theory .theory-c .t4 {
    width: 2.65rem;
    top: 1.76rem;
    left: .40rem;
  }
  .theory .theory-c .t4 li {
    font-size: .14rem;
    line-height: .18rem;
  }
  .theory .theory-c .t4 li:first-child {
    width: 2.58rem;
  }
  .theory .theory-c .t4 li p {
    font-size: .18rem;
    line-height: .18rem;
    margin: .05rem 0 .02rem;
  }
  .theory .theory-c .t4 .three {
    width: 2.3rem;
  }
  .theory .theory-c .t5 {
    top: 2.05rem;
    left: 3.77rem;
    font-size: .22rem;
    line-height: .29rem;
  }
  .theory .theory-c .t6 {
    top: 2.95rem;
    right: .48rem;
  }
  .theory .theory-c .t6 p {
    line-height: .46rem;
  }
  .theory .motive {
    height: 2.3rem;
    margin-top: .66rem;
  }
  .theory .motive .m-left {
    width: 1.82rem;
  }
  .theory .motive .m-right h3 {
    font-size: .16rem;
    line-height: .16rem;
    padding-left: .06rem;
    margin-top: .11rem ;
  }
  .theory .motive .m-right p {
    width: 4.65rem;
    font-size: .16rem;
    line-height: .24rem;
    padding-left: .06rem;
  }
  .theory .motive .m-right p span {
    font-size: .24rem;
  }
  .theory .motive .m-right .m-img {
    width: 5.4rem;
    height: 1.86rem;
  }
  .theory .intellect {
    height: 2.3rem;
    margin-top: .48rem;
  }
  .theory .intellect .i-left {
    width: 1.82rem;
  }
  .theory .intellect .i-right {
    width: 5.48rem;
  }
  .theory .intellect .i-right p {
    font-size: .16rem;
    padding-left: .15rem;
    margin-top: .15rem;
  }
  .theory .intellect .i-right p span {
    font-size: .28rem;
  }
  .theory .intellect .i-right .i-list {
    height: 1.70rem;
  }
  .theory .intellect .i-right .i-list li {
    width: 1.37rem;
    height: .85rem;
  }
  .theory .intellect .i-right .i-list li .i-img {
    width: .44rem;
    height: .44rem;
    margin: .04rem auto .02rem;
  }
  .theory .intellect .i-right .i-list li .chinese {
    font-size: .16rem;
    line-height: .16rem;
  }
  .theory .intellect .i-right .i-list li .english {
    font-size: .16rem;
    line-height: .16rem;
  }
  .theory .skill {
    height: 2.3rem;
  }
  .theory .skill .s-list {
    width: 4.95rem;
    height: 1.06rem;
    margin: .42rem 0 0 .15rem;
  }
  .theory .skill .s-list ul {
    width: 5.3rem;
  }
  .theory .skill .s-list ul li {
    width: .98rem;
    height: .39rem;
    margin: 0 .3rem .30rem 0;
  }
  .theory .skill .s-list ul li .s-text {
    padding-top: 0.03rem;
    font-size: .16rem;
    line-height: .18rem;
    width: .71rem;
    margin-right: 0.02rem;
  }
  .theory .skill .s-list ul li .s-text span {
    font-size: .16rem;
  }
  .theory .skill .s-list ul li .s-img {
    width: .25rem;
    height: .39rem;
    background: url(../../images/course/ts-13.png);
    background-size: 100% 100%;
  }
  .theory .way {
    height: 5.5rem;
    margin-top: .48rem;
  }
  .theory .way .w-left p {
    width: 5.2rem;
    font-size: .16rem;
    margin: .15rem 0 0 .16rem;
  }
  .theory .way .w-left p span {
    font-size: .24rem;
  }
  .theory .way .w-left .w-list {
    width: 5.1rem;
    height: 100%;
    overflow: hidden;
    margin: .1rem 0 .15rem;
    padding-left: .3rem;
  }
  .theory .way .w-left .w-list ul {
    width: 5.54rem;
  }
  .theory .way .w-left .w-list ul li {
    width: 2.37rem;
    height: 1.5rem;
    margin-right: .40rem;
  }
  .theory .way .w-left .w-list ul li .w-img {
    width: .60rem;
    height: .71rem;
    margin: .05rem auto .10rem;
  }
  .theory .way .w-left .w-list ul li .w-tit {
    width: 100%;
    font-size: .18rem;
    line-height: .18rem;
    margin-bottom: .05rem;
  }
  .theory .way .w-left .w-list ul li .w-txt {
    width: 100%;
    font-size: .14rem;
  }
  .theory .way .w-right {
    width: 1.82rem;
    height: 100%;
  }
  .theory .way .w-right img {
    width: 100%;
    height: 100%;
  }
  .peculiarity {
    height: 5.2rem;
    padding-top: .50rem;
  }
  .peculiarity .pec-c {
    width: 4.02rem;
    height: 4.02rem;
    background: url(../../images/course/ts-15.png);
    background-size: 100% 100%;
    margin: .36rem auto 0;
  }
  .peculiarity .pec-c .public {
    font-size: .14rem;
    line-height: .20rem;
    height: .6rem;
    padding: .05rem 0;
  }
  .peculiarity .pec-c .public p {
    font-size: .21rem;
    line-height: .24rem;
  }
  .peculiarity .pec-c .system {
    top: .62rem;
    left: -0.2rem;
  }
  .peculiarity .pec-c .entire {
    top: .18rem;
    right: -0.65rem;
    padding-left: .6rem;
  }
  .peculiarity .pec-c .effective {
    height: .80rem;
    bottom: .19rem;
    right: -1.05rem;
  }
  .peculiarity .pec-c ul {
    width: 2.8rem;
    position: absolute;
    top: 1.65rem;
    left: .71rem;
  }
  .peculiarity .pec-c ul li {
    font-size: .21rem;
    line-height: .26rem;
    margin: 0 .25rem;
  }
  .fruit {
    width: 100%;
    height: 6.32rem;
    padding-top: .48rem;
    background: url(../../img/course/fruit.png);
    background-size: 100% 100%;
  }
  .fruit .fruit-txt {
    width: 2.3rem;
    font-size: .14rem;
    line-height: .20rem;
    margin: .55rem 0 0 .73rem;
  }
  .fruit .fruit-txt p {
    font-size: .18rem;
  }
  .fruit .histogram {
    width: 5.78rem;
    height: 4.55rem;
    background: url(../../images/course/ts-16.png);
    background-size: 100% 100%;
    margin: 0 auto;
    bottom: .70rem;
    left: 50%;
    margin-left: -2.89rem;
    position: absolute;
  }
  .explain {
    height: 1.60rem;
    padding-top: .20rem;
  }
  .explain .explain-list {
    width: 6.86rem;
  }
  .explain .explain-list ul {
    width: 7.7rem;
  }
  .explain .explain-list li {
    width: 2.03rem;
    height: 100%;
    font-size: .14rem;
    line-height: .20rem;
    margin-right: .40rem;
  }
  .explain .explain-list li p {
    font-size: .18rem;
    margin-bottom: .04rem;
    padding-top: .04rem;
  }
}
