.founder {
  height: 100%;
  width: 100%;
  background: #fcf3ec;
  padding-bottom: 80px;
}
.founder .fou-h {
  width: 100%;
  height: 320px;
  position: relative;
}
.founder .fou-h p {
  font-size: 60px;
  line-height: 60px;
  font-family: "华文中宋";
  position: absolute;
  top: 230px;
  left: 100px;
}
.founder .fou-h .book-img {
  position: absolute;
  top: 40px;
  right: 110px;
  width: 454px;
  height: 276px;
  background: url(../../images/aboutus/fou-bg.png);
}
.founder .fou-c {
  width: 100%;
  height: 568px;
  background: #fff;
  padding-top: 132px;
}
.founder .fou-c .fou-img {
  width: 287px;
  height: 430px;
  background: url(../../images/aboutus/founder.jpg);
  margin: 0 20px 0 153px;
}
.founder .fou-c .fou-text .fou-t {
  font-size: 18px;
  line-height: 36px;
}
.founder .fou-c .fou-text .fou-t .fou-h2 span {
  font-size: 36px;
  color: #f19c32;
  margin-right: 12px;
}
.founder .fou-c .fou-text .fou-t .f-color {
  color: #f19c32;
  font-size: 21px;
}
.founder .fou-c .fou-text .fou-f {
  font-size: 18px;
  line-height: 36px;
  margin-top: 35px;
}
@media screen and (max-width: 1024px) {
  .founder {
    padding-bottom: .3rem;
  }
  .founder .fou-h {
    height: 2rem;
  }
  .founder .fou-h p {
    font-size: .36rem;
    line-height: .36rem;
    top: 1.46rem;
    left: .62rem;
  }
  .founder .fou-h .book-img {
    top: .31rem;
    right: .57rem;
    width: 2.75rem;
    height: 1.67rem;
    background: url(../../images/aboutus/fou-bg.png);
    background-size: 100% 100%;
  }
  .founder .fou-c {
    width: 100%;
    height: 5.4rem;
    padding-top: .46rem;
  }
  .founder .fou-c .fou-img {
    width: 1.34rem;
    height: 2rem;
    background: url(../../images/aboutus/founder.jpg);
    background-size: 100% 100%;
    margin: 0 .10rem 0 .60rem;
  }
  .founder .fou-c .fou-text {
    width: 4.8rem;
    padding-left: .15rem;
    border-left: 1px solid #000;
  }
  .founder .fou-c .fou-text .fou-t {
    font-size: .18rem;
    line-height: .36rem;
  }
  .founder .fou-c .fou-text .fou-t .fou-h2 span {
    font-size: .36rem;
    margin-right: .20rem;
  }
  .founder .fou-c .fou-text .fou-t .f-color {
    font-size: .18rem;
  }
  .founder .fou-c .fou-text .fou-f {
    font-size: .18rem;
    line-height: .40rem;
    margin-top: .20rem;
  }
}
