.glory {
  height: 100%;
  width: 100%;
  background: #fcf3ec;
  padding-bottom: 80px;
}
.glory .glory-h {
  width: 100%;
  height: 320px;
  position: relative;
}
.glory .glory-h p {
  font-size: 60px;
  line-height: 60px;
  font-family: "华文中宋";
  position: absolute;
  top: 230px;
  left: 100px;
}
.glory .glory-h .glory-img {
  position: absolute;
  top: 18px;
  right: 25px;
  width: 532px;
  height: 293px;
  background: url(../../images/aboutus/glory.png);
}
.glory .glory-list {
  width: 1188px;
  padding: 80px 0 50px 12px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
}
.glory .list {
  width: 100%;
  height: 100%;
}
.glory .list li {
  float: left;
  margin-right: 12px;
  width: 285px;
  height: 250px;
}
.glory .list li .img {
  width: 100%;
  height: 190px;
  position: relative;
}
.glory .list li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glory .list li p {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  color: #333333;
}
@media screen and (max-width: 1024px) {
  .glory {
    padding-bottom: .30rem;
  }
  .glory .glory-h {
    height: 2rem;
  }
  .glory .glory-h p {
    font-size: .36rem;
    line-height: .36rem;
    top: 1.46rem;
    left: .62rem;
  }
  .glory .glory-h .glory-img {
    top: .18rem;
    right: .16rem;
    width: 3.22rem;
    height: 1.78rem;
    background: url(../../images/aboutus/glory.png);
    background-size: 100% 100%;
  }
  .glory .glory-list {
    width: 100%;
    padding: .2rem 0 0 0;
  }
  .glory .list {
    width: 7.42rem;
    height: 100%;
  }
  .glory .list li {
    margin-right: .10rem;
    width: 1.75rem;
    height: 2rem;
  }
  .glory .list li .img {
    width: 100%;
    height: 1.15rem;
  }
  .glory .list li p {
    line-height: .28rem;
    font-size: .14rem;
  }
}
