.activity {
  background: #fcf3eb;
  padding-bottom: 80px;
}
.activity .act-h {
  width: 100%;
  height: 320px;
  background: url(../../images/news/banner.png);
}
.activity .act-list {
  height: 100%;
  padding: 57px 15px 50px;
  width: 1170px;
  overflow: hidden;
  background: #fff;
}
.activity .act-list ul {
  width: 100%;
}
.activity .act-list li {
  float: left;
  height: 100%;
  width: 380px;
  margin: 0 5px;
}
.activity .act-list li .img {
  width: 100%;
  height: 210px;
  position: relative;
}
.activity .act-list li .img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.activity .act-list li .text {
  width: 100%;
  height: 118px;
  background: #fff;
}
.activity .act-list li .text h3 {
  font-size: 16px;
  line-height: 24px;
  height: 60px;
  color: #333333;
  padding-top: 16px;
}
.activity .act-list li .text p {
  font-size: 16px;
  line-height: 27px;
  color: #999999;
  text-align: right;
}
.activity .page {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f7cead;
}
.activity .page #page-table2 {
  text-align: right;
  font-size: 18px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .activity {
    width: 100%;
    padding-bottom: .30rem;
  }
  .activity .act-h {
    width: 100%;
    height: 2rem;
    background: url(../../img/news/banner.png);
    background-size: 100% 100%;
  }
  .activity .act-list {
    height: 100%;
    width: 7.06rem;
    padding: .35rem .12rem .40rem;
    overflow: hidden;
  }
  .activity .act-list ul {
    width: 7.3rem;
  }
  .activity .act-list li {
    width: 2.32rem;
    height: 2.26rem;
    margin: 0 .05rem 0 0;
  }
  .activity .act-list li .img {
    height: 1.26rem;
  }
  .activity .act-list li .img img {
    width: 100%;
    height: 100%;
  }
  .activity .act-list li .text {
    height: 1rem;
  }
  .activity .act-list li .text h3 {
    font-size: .16rem;
    line-height: .24rem;
    padding-top: 0.05rem;
    height: .7rem;
  }
  .activity .act-list li .text p {
    font-size: .16rem;
    line-height: .16rem;
    padding-right: .08rem;
  }
  .activity .page {
    width: 100%;
    height: .40rem;
    line-height: .40rem;
  }
  .activity .page #page-table2 {
    text-align: right;
    font-size: .18rem;
    width: 100%;
    height: 100%;
  }
}
