.state-bg2 {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #7EB0E6;
}
.state-bg2 .nav_bar {
  font-size: 14px;
  color: #ffffff;
}
.state-bg2 .nav_bar a {
  color: #ffffff;
}
.ec-banner {
  width: 100%;
  height: 210px;
  background: url(../../images/parentR-banner.png);
  background-size: 100% 100%;
  margin-bottom: 14px;
}
.ec-banner1 {
  width: 100%;
  height: 210px;
  background: url(../../images/science-banner.png);
  background-size: 100% 100%;
  margin-bottom: 14px;
}
.ency {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
  position: relative;
  background: #F7F7F7;
}
.ency .ency-c {
  width: 100%;
  height: 100%;
  background: #fff;
}
.ency .ency-h {
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  background: #7EB0E6;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.ency .ency-list {
  width: 950px;
  height: 100%;
  margin: 0 auto;
  padding: 64px 0;
}
.ency .ency-list li {
  width: 100%;
  height: 202px;
  margin-bottom: 15px;
}
.ency .ency-list li .detail {
  width: 100%;
  height: 178px;
}
.ency .ency-list li .img {
  width: 304px;
  height: 168px;
  position: relative;
}
.ency .ency-list li .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ency .ency-list li .text {
  width: 622px;
  height: 100%;
  position: relative;
}
.ency .ency-list li .text .tit {
  font-size: 24px;
  line-height: 24px;
  margin: 22px 0 12px;
}
.ency .ency-list li .text .en-desp {
  font-size: 16px;
  line-height: 30px;
}
.ency .ency-list li .text .en-time {
  text-align: right;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.ency .ency-list li .text .en-time a {
  color: #7eafe7;
}
.ency .ency-list li .en-line {
  width: 950px;
  height: 20px;
  background: url("../../images/aboutus/line.png");
  margin: 4px auto 0;
}
.ency .ency-footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7EB0E6;
}
.ency .ency-footer #page-table2 {
  text-align: right;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .state-bg2 {
    display: none;
  }
  .ec-bg {
    height: .48rem;
    font-size: .24rem;
    line-height: .48rem;
  }
  .ec-banner {
    height: 2rem;
    background: url(../../img/news/parentR-banner.png);
    background-size: 100% 100%;
    margin-bottom: .10rem;
  }
  .ec-banner1 {
    height: 2rem;
    background: url(../../img/news/science-banner.png);
    background-size: 100% 100%;
    margin-bottom: .10rem;
  }
  .ency {
    width: 7.3rem;
    height: 100%;
    margin: 0 auto;
    padding-bottom: .3rem;
  }
  .ency .ency-h {
    height: .60rem;
    font-size: .36rem;
    line-height: .60rem;
  }
  .ency .ency-list {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: .65rem 0 .35rem;
  }
  .ency .ency-list li {
    width: 100%;
    height: 1.6rem;
    margin-bottom: .57rem;
  }
  .ency .ency-list li .detail {
    width: 100%;
    height: 1.40rem;
  }
  .ency .ency-list li .img {
    width: 2.34rem;
    height: 1.30rem;
  }
  .ency .ency-list li .img img {
    width: 100%;
    height: 100%;
  }
  .ency .ency-list li .text {
    width: 4.7rem;
    height: 1.40rem;
  }
  .ency .ency-list li .text .tit {
    font-size: .22rem;
    line-height: .24rem;
    margin: 0.07rem 0 .03rem;
  }
  .ency .ency-list li .text .en-desp {
    font-size: .16rem;
    line-height: .24rem;
  }
  .ency .ency-list li .text .en-time {
    text-align: right;
    font-size: .16rem;
  }
  .ency .ency-list li .text .en-time a {
    color: #7eafe7;
  }
  .ency .ency-list li .en-line {
    width: 100%;
    height: .15rem;
    background: url("../../images/aboutus/line.png");
    background-size: 100% 100%;
    margin: .08rem auto 0;
  }
  .ency .ency-footer {
    width: 100%;
    height: .40rem;
    line-height: .40rem;
  }
  .ency .ency-footer #page-table2 {
    text-align: right;
    font-size: .20rem;
    width: 100%;
    height: 100%;
  }
}
