.asd-banner {
  width: 100%;
  height: 210px;
  margin-bottom: 14px;
  background: url(../../images/asd-banner.png);
}
.science-banner {
  width: 100%;
  height: 210px;
  margin-bottom: 14px;
  background: url(../../images/science-banner.png);
}
.parentR-banner {
  width: 100%;
  height: 210px;
  margin-bottom: 14px;
  background: url(../../images/parentR-banner.png);
}
.detail-con {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  padding-bottom: 100px;
}
.detail-con .detail-c {
  width: 100%;
  height: 100%;
  background: #fff;
}
.detail-con .detail-c .detail-h {
  width: 100%;
  height: 65px;
  padding-top: 35px;
  background: #7eafe7;
  text-align: center;
  font-size: 24px;
  color: #fff;
  position: relative;
}
.detail-con .detail-c .detail-h p {
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}
.detail-con .detail-c .detail-h .s-t {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: 20px;
}
.detail-con .detail-c .detail-h .s-t div {
  float: left;
  font-size: 14px;
  line-height: 20px;
  margin-left: 30px;
}
.detail-con .detail-c .detail-txt {
  padding: 54px 170px;
  font-size: 16px;
  line-height: 32px;
}
.detail-footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7EB0E6;
  color: #ffffff;
  position: relative;
}
.detail-footer div {
  width: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30px;
  text-transform: uppercase;
  font-size: 24px;
  font-family: Arial;
}
.detail-footer .sta-pags {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
}
.detail-footer .sta-pags a {
  color: #ffffff;
  margin-left: 10px;
}
@media screen and (max-width: 1024px) {
  .asd-banner {
    width: 100%;
    height: 2rem;
    margin-bottom: .10rem;
    background: url(../../img/news/sd-banner.png);
    background-size: 100% 100%;
  }
  .science-banner {
    width: 100%;
    height: 2rem;
    margin-bottom: .10rem;
    background: url(../../img/news/science-banner.png);
    background-size: 100% 100%;
  }
  .parentR-banner {
    width: 100%;
    height: 2rem;
    margin-bottom: .10rem;
    background: url(../../img/news/parentR-banner.png);
    background-size: 100% 100%;
  }
  .detail-con {
    padding-bottom: .30rem;
  }
  .detail-con .detail-c .detail-h {
    width: 7.1rem;
    height: .75rem;
    padding: .25rem .10rem 0;
    font-size: .24rem;
  }
  .detail-con .detail-c .detail-h p {
    font-size: .18rem;
    line-height: .27rem;
  }
  .detail-con .detail-c .detail-h .s-t {
    position: absolute;
    bottom: .04rem;
    right: .10rem;
    height: .20rem;
  }
  .detail-con .detail-c .detail-h .s-t div {
    float: left;
    font-size: .14rem;
    line-height: .20rem;
    margin-left: .30rem;
  }
  .detail-con .detail-c .detail-txt {
    padding: .60rem .55rem;
    font-size: .18rem;
    line-height: .36rem;
  }
  .detail-con .detail-c .detail-txt p {
    width: 100%;
    height: 100%;
  }
  .detail-con .detail-c .detail-txt p img {
    width: 6rem;
    height: 100%;
  }
  .detail-footer {
    width: 100%;
    height: .40rem;
    font-size: .16rem;
    line-height: .40rem;
  }
  .detail-footer div {
    width: .60rem;
    margin-left: -0.3rem;
    font-size: .16rem;
  }
  .detail-footer .sta-pags {
    position: absolute;
    right: .20rem;
    top: 0;
    font-size: .16rem;
  }
  .detail-footer .sta-pags a {
    margin-left: .10rem;
  }
}
