.u-banner {
  width: 100%;
  height: 480px;
  background: url(../../images/underCourse/banner.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
}
.s-tit {
  width: 550px;
  height: 113px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.s-tit h3 {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}
.s-tit h3 span {
  font-family: Arial;
  margin-right: 14px;
}
.s-tit div {
  width: 352px;
  height: 19px;
  background: url(../../images/5.png);
  margin: 10px auto 12px;
}
.s-tit p {
  font-size: 24px;
  line-height: 24px;
  color: #a5a5a5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial;
}
.s-tit a {
  font-size: 25px;
  color: #e24956;
  position: absolute;
  bottom: -4px;
  right: -155px;
  text-transform: uppercase;
}
.suggest {
  width: 100%;
  height: 1792px;
  padding-top: 59px;
}
.suggest .s-list {
  width: 100%;
  height: 1622px;
  overflow: hidden;
  margin-top: 58px;
}
.suggest .s-list ul {
  width: 1220px;
  height: 100%;
}
.suggest .s-list ul li {
  width: 590px;
  margin-right: 20px;
  margin-top: 17px;
  float: left;
  margin-bottom: 37px;
}
.suggest .s-list ul li .s-bg {
  height: 350px;
  background: #f5f5fc;
}
.suggest .s-list ul li .s-left {
  float: left;
  width: 220px;
  height: 310px;
  background: #1ab7ea;
  margin-right: 15px;
  position: relative;
  border-radius: 20px;
}
.suggest .s-list ul li .s-left .s-img {
  width: 129px;
  height: 137px;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -64px;
}
.suggest .s-list ul li .s-left .s-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.suggest .s-list ul li .s-left .s-text {
  width: 110px;
  font-size: 36px;
  line-height: 48px;
  color: #01396b;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 155px;
}
.suggest .s-list ul li .s-left .s-text span {
  font-family: Arial;
}
.suggest .s-list ul li .s-left2 {
  background: #ffcf09;
}
.suggest .s-list ul li .s-left2 .s-text {
  color: #683a02;
}
.suggest .s-list ul li .s-left3 {
  background: #725cf7;
}
.suggest .s-list ul li .s-left3 .s-text {
  color: #ffffff;
}
.suggest .s-list ul li .s-left4 .s-text {
  color: #ffffff;
}
.suggest .s-list ul li .s-right {
  float: left;
  width: 332px;
  height: 337px;
  padding-top: 13px;
  font-size: 18px;
  color: #5d5d5d;
  line-height: 26px;
}
.suggest .s-list ul li .s-right p {
  font-size: 24px;
  color: #231815;
  margin: 4px 0  2px;
}
.suggest .s-list ul li .s-right span {
  font-size: 14px;
}
.model {
  height: 1090px;
  padding-top: 60px;
}
.model .m-tit {
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 25px 0 21px;
}
.model .model-list div {
  height: 100px;
  font-size: 36px;
  margin-bottom: 3px;
}
.model .model-list div p {
  float: left;
  text-align: center;
  line-height: 48px;
}
.model .model-list div .tradition {
  width: 528px;
  font-size: 48px;
  color: #5d5d5d;
  margin-top: 47px;
}
.model .model-list div .m-content {
  width: 143px;
  height: 100%;
  background: url(../../images/underCourse/xx1-2.png);
}
.model .model-list div .must {
  width: 528px;
  color: #ef8200;
  font-size: 48px;
  margin-top: 47px;
}
.model .model-list div .must span {
  font-family: Arial;
}
.model .model-list ul {
  width: 100%;
  height: 120px;
  background: url(../../images/underCourse/xx1-3.png);
  margin-bottom: 26px;
  font-size: 32px;
}
.model .model-list ul li {
  float: left;
  text-align: center;
}
.model .model-list ul .tradition {
  width: 500px;
  color: #ffffff;
  margin-top: 30px;
}
.model .model-list ul .m-content {
  width: 200px;
  height: 100%;
  position: relative;
  font-size: 36px;
}
.model .model-list ul .m-content img {
  position: absolute;
  top: 4px;
  left: 70px;
}
.model .model-list ul .m-content p {
  margin-top: 66px;
}
.model .model-list ul .must {
  width: 470px;
  margin-top: 30px;
  padding-left: 30px;
}
.life {
  height: 660px;
  width: 100%;
  background: url(../../images/underCourse/xx1-4.png);
}
.u-campus {
  height: 2283px;
}
.u-campus .campus3 {
  height: 970px;
}
.u-campus .campus3 .c-txt {
  font-size: 18px;
  line-height: 30px;
  color: #595757;
  text-indent: 2em;
}
.u-campus .campus3 .c-txt p {
  margin-bottom: 30px;
}
.faculty {
  width: 100%;
}
.faculty .faculty-list {
  width: 1162px;
  height: 900px;
  margin: 60px auto 60px;
  position: relative;
}
.faculty .faculty-list li {
  float: left;
  width: 232px;
  height: 300px;
  position: relative;
}
.faculty .faculty-list li .img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .img img {
  width: 100%;
  height: 100%;
}
.faculty .faculty-list li .title {
  position: absolute;
  left: 1px;
  bottom: 1px;
  text-align: center;
  width: 230px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 24px;
  z-index: 99;
}
.faculty .faculty-list li .mask2 {
  position: absolute;
  background: #442500;
  opacity: 0.5;
  filter: alpha(opacity=50);
  left: 1px;
  bottom: 1px;
  z-index: 40;
  width: 230px;
  height: 51px;
}
.faculty .faculty-list .show-f .mask2 {
  background: #f08300;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.faculty .faculty-list .ml {
  margin-left: 696px;
}
.faculty .faculty-c {
  width: 696px;
  height: 300px;
  background: url(../../images/faculty/bg.png);
  background-size: 100% 100%;
  position: absolute;
  top: 300px;
  left: 232px;
}
.faculty .faculty-c div {
  padding: 70px 0 0 35px;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
  display: none;
}
.faculty .faculty-c div p {
  font-size: 26px;
  margin-bottom: 5px;
}
.faculty .faculty-c .show-c {
  display: block;
}
.ganyan .tit-bg {
  width: 1000px;
  height: 222px;
  background: url(../../images/underCourse/xx1-5.png);
  margin: 0 auto;
  padding-top: 54px;
  position: relative;
  z-index: 1000;
}
.ganyan .gy-bg {
  height: 580px;
  width: 100%;
  margin-top: -52px;
  background: #f5f5fc;
}
.ganyan .gy-list {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
.ganyan .gy-list ul {
  width: 1220px;
  height: 100%;
}
.ganyan .gy-list ul li {
  width: 285px;
  height: 100%;
  float: left;
  margin-right: 20px;
}
.ganyan .gy-list ul li .g-header {
  width: 100%;
  height: 60px;
}
.ganyan .gy-list ul li .g-content {
  padding: 3px 5px;
  width: 275px;
  height: 434px;
  font-family: MicrosoftYaHeiLight;
  font-size: 16px;
  line-height: 24px;
  text-indent: 2em;
}
.ganyan .gy-list ul li .g-content p {
  margin-top: 7px;
}
.ganyan .gy-list ul li .g-footer {
  width: 100%;
  height: 70px;
  padding-top: 10px;
}
.ganyan .gy-list ul li .g-footer .g-left {
  width: 40px;
  height: 33px;
  background: url(../../images/underCourse/xx1-5-1.png);
  float: left;
  margin: 12px 0 0 6px;
}
.ganyan .gy-list ul li .g-footer .g-right {
  float: right;
  line-height: 27px;
  font-size: 18px;
  text-align: right;
  padding-right: 6px;
}
.ganyan .gy-list ul li .g-footer .g-right .time {
  color: #595757;
}
.ganyan .gy-list ul .g1 .g-header {
  background: #9c97fc;
}
.ganyan .gy-list ul .g1 .g-content {
  background: #e3e0fe;
}
.ganyan .gy-list ul .g2 .g-header {
  background: #f9a5af;
}
.ganyan .gy-list ul .g2 .g-content {
  background: #fce2e4;
}
.ganyan .gy-list ul .g3 .g-header {
  background: #f9e280;
}
.ganyan .gy-list ul .g3 .g-content {
  background: #fff5ce;
}
.ganyan .gy-list ul .g4 .g-header {
  background: #72e2fc;
}
.ganyan .gy-list ul .g4 .g-content {
  background: #d1f1fb;
}
.media {
  height: 647px;
  width: 100%;
  padding-top: 68px;
}
.media .media-list {
  width: 100%;
  height: 444px;
  overflow: hidden;
  margin-top: 50px;
}
.media .media-list ul {
  width: 1210px;
  height: 100%;
}
.media .media-list ul li {
  width: 190px;
  height: 60px;
  float: left;
  margin: 0 10px 50px 0;
  position: relative;
}
.media .media-list ul li img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .u-banner {
    width: 100%;
    height: 3.5rem;
    background: url(../../img/undercourse/banner.png);
    background-size: 100% 100%;
  }
  .s-tit {
    width: 4rem;
    height: .85rem;
  }
  .s-tit h3 {
    font-size: .36rem;
    line-height: .36rem;
    color: #000000;
  }
  .s-tit h3 span {
    font-family: Arial;
    margin-right: 14px;
  }
  .s-tit div {
    width: 2.6rem;
    height: .15rem;
    background: url(../../images/5.png);
    background-size: 100% 100%;
    margin: .05rem auto .08rem;
  }
  .s-tit p {
    font-size: .16rem;
    line-height: .16rem;
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: Arial;
  }
  .suggest {
    width: 100%;
    height: 100%;
    padding-top: .47rem;
  }
  .suggest .s-list {
    width: 100%;
    height: 100%;
    margin-top: .35rem;
  }
  .suggest .s-list ul {
    width: 7.4rem;
    height: 100%;
  }
  .suggest .s-list ul li {
    width: 3.6rem;
    margin-right: .10rem;
    margin-top: .10rem;
    margin-bottom: .35rem;
  }
  .suggest .s-list ul li .s-bg {
    height: 2.8rem;
  }
  .suggest .s-list ul li .s-left {
    width: 1.32rem;
    height: 1.95rem;
    margin-right: .10rem;
    position: relative;
    border-radius: .20rem;
  }
  .suggest .s-list ul li .s-left .s-img {
    width: .79rem;
    height: .82rem;
    position: absolute;
    top: -0.1rem;
    left: 50%;
    margin-left: -0.4rem;
  }
  .suggest .s-list ul li .s-left .s-text {
    width: .68rem;
    font-size: .21rem;
    line-height: .29rem;
    left: 50%;
    margin-left: -0.34rem;
    top: 1.04rem;
  }
  .suggest .s-list ul li .s-right {
    width: 2.15rem;
    height: 100%;
    padding-top: .10rem;
    font-size: .14rem;
    line-height: .18rem;
  }
  .suggest .s-list ul li .s-right p {
    font-size: .18rem;
    color: #231815;
    margin: .02rem 0  .02rem;
  }
  .suggest .s-list ul li .s-right span {
    font-size: .14rem;
  }
  .suggest .s-list ul .s-h1 .s-bg {
    height: 2.1rem;
  }
  .suggest .s-list ul .s-h2 .s-bg {
    height: 2.65rem;
  }
  .model {
    height: 100%;
    padding: .16rem 0 .50rem;
  }
  .model .m-tit {
    font-size: .20rem;
    line-height: .20rem;
    margin: .14rem 0 .12rem;
  }
  .model .model-list div {
    height: .62rem;
    font-size: .30rem;
    margin-bottom: .05rem;
  }
  .model .model-list div p {
    line-height: .30rem;
  }
  .model .model-list div .tradition {
    width: 3.2rem;
    font-size: .30rem;
    margin-top: .29rem;
  }
  .model .model-list div .m-content {
    width: .87rem;
    height: 100%;
    background: url(../../images/underCourse/xx1-2.png);
    background-size: 100% 100%;
  }
  .model .model-list div .must {
    width: 3.2rem;
    font-size: .30rem;
    margin-top: .29rem;
  }
  .model .model-list ul {
    width: 100%;
    height: .74rem;
    background: url(../../images/underCourse/xx1-3.png);
    background-size: 100% 100%;
    margin-bottom: .15rem;
    font-size: .22rem;
  }
  .model .model-list ul .tradition {
    width: 2.8rem;
    margin-top: .18rem;
  }
  .model .model-list ul .m-content {
    width: 1.7rem;
    position: relative;
    font-size: .24rem;
  }
  .model .model-list ul .m-content img {
    width: 1.07rem;
    height: .33rem;
    position: absolute;
    top: .02rem;
    left: .58rem;
  }
  .model .model-list ul .m-content p {
    margin-top: .36rem;
  }
  .model .model-list ul .must {
    width: 2.7rem;
    margin-top: .18rem;
    padding-left: .1rem;
  }
  .life {
    height: 3.5rem;
    width: 100%;
    background: url(../../img/undercourse/bg.png);
    background-size: 100% 100%;
  }
  .u-campus {
    height: 100%;
  }
  .u-campus .campus3 {
    height: 100%;
  }
  .u-campus .campus3 .c-txt {
    font-size: .18rem;
    line-height: .36rem;
    color: #595757;
    text-indent: 2em;
  }
  .u-campus .campus3 .c-txt p {
    margin-bottom: .24rem;
  }
  .faculty {
    width: 100%;
    height: 100%;
  }
  .faculty .faculty-list {
    width: 100%;
    height: 100%;
    margin: .42rem auto .43rem;
  }
  .faculty .faculty-list li {
    width: 1.46rem;
    height: 1.89rem;
  }
  .faculty .faculty-list li .title {
    position: absolute;
    left: 0.01rem;
    bottom: 0;
    width: 1.44rem;
    padding: .08rem 0;
    font-size: .16rem;
    z-index: 99;
  }
  .faculty .faculty-list li .mask2 {
    left: 0.01rem;
    bottom: 0;
    z-index: 40;
    width: 1.44rem;
    height: .35rem;
  }
  .faculty .faculty-list .ml {
    margin-left: 4.38rem;
  }
  .faculty .faculty-c {
    width: 3.98rem;
    height: 1.49rem;
    background: url(../../images/faculty/bg.png);
    background-size: 100% 100%;
    top: 1.89rem;
    left: 1.46rem;
    padding: .20rem;
  }
  .faculty .faculty-c div {
    padding: 0;
    font-size: .14rem;
    line-height: .22rem;
  }
  .faculty .faculty-c div p {
    font-size: .18rem;
    margin-bottom: .05rem;
  }
  .ganyan .tit-bg {
    width: 6.1rem;
    height: 1.42rem;
    background: url(../../images/underCourse/xx1-5.png);
    background-size: 100% 100%;
    margin: 0 auto;
    padding-top: .28rem;
    position: relative;
    z-index: 1000;
  }
  .ganyan .gy-bg {
    height: 100%;
    margin-top: -0.32rem;
  }
  .ganyan .gy-list {
    width: 7.3rem;
  }
  .ganyan .gy-list ul {
    width: 7.4rem;
    height: 100%;
  }
  .ganyan .gy-list ul li {
    width: 1.75rem;
    margin-right: .10rem;
  }
  .ganyan .gy-list ul li .g-header {
    width: 100%;
    height: .35rem;
  }
  .ganyan .gy-list ul li .g-content {
    padding: 0.03rem .02rem;
    width: 1.71rem;
    height: 4.9rem;
    font-size: .14rem;
    line-height: .18rem;
    text-indent: 2em;
  }
  .ganyan .gy-list ul li .g-content p {
    margin-top: .07rem;
  }
  .ganyan .gy-list ul li .g-footer {
    width: 100%;
    height: .5rem;
    padding-top: .10rem;
  }
  .ganyan .gy-list ul li .g-footer .g-left {
    display: none;
  }
  .ganyan .gy-list ul li .g-footer .g-right {
    font-size: .14rem;
    line-height: .27rem;
    padding-right: 0;
  }
  .media {
    height: 4.2rem;
    padding-top: .60rem;
  }
  .media .media-list {
    width: 7.3rem;
    height: 2.4rem;
    margin-top: .30rem;
  }
  .media .media-list ul {
    width: 7.38rem;
    height: 100%;
  }
  .media .media-list ul li {
    width: 1.14rem;
    height: .36rem;
    margin: 0 .09rem .30rem 0;
  }
}
